:root {
  --cor-primaria: #41e2ba;
  --cor-secundaria: #ef5d50;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: var(--cor-primaria);
  transition: background-color 300ms ease-in-out;
  line-height: 1.5;
}

.container {
  max-width: 640px;
  margin: 0 auto;
}

.working {
  background: var(--cor-secundaria);
}

.hidden {
  display: none;
}

.pomodoro {
  background: #fff;
  margin: 50px 20px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.pomodoro h2 {
  font-size: 24px;
  text-align: center;
}

.pomodoro .timer {
  font-size: 6rem;
  text-align: center;
}

.pomodoro .controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.pomodoro button {
  background: var(--cor-primaria);
  border: none;
  cursor: pointer;
  padding: 10px 25px;
  color: #000;
  transition: background-color 300ms ease-in-out;
  margin: 20px auto;
  border-radius: 10px;
  width: 150px;
  height: 50px;
}

.working .pomodoro button {
  background: var(--cor-secundaria);
  color: #fff;
}

.pomodoro .details {
  margin: 20px 0;
}

.text_working {
  color: var(--cor-secundaria);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.text_resting {
  color: var(--cor-primaria);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
